.afisha{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    .slider-section-item2{
        width: calc(100% / 4 - 24px);
        margin: 0 12px;
        margin-bottom: 41px;
       
    }
}
.fiolet2-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #9263A7;
    text-transform: uppercase;
    padding: 5px 0;
}
.fiolet2-link svg {
    fill: #9263A7;
    margin-left: 5px;
    transition: .3s all;
}
.slider-section__type.data-fiolet{
    background: transparent;
    color: #9263A7;
    -webkit-text-fill-color: #9263A7;
    -webkit-background-clip:initial
}
.slider-section__buy.data-fiolet{
    button{
        background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)),linear-gradient(101deg,#8d5ca6,#9263A7)
    }
    button div span{
        -webkit-text-fill-color: #9263A7;
    }
}
.slider-section-item2 .slider-section__data.data-fiolet{
    background: #9263A7;
}
@media(max-width: 1199px){
    .afisha{
        .slider-section-item2{
            width: calc(100% / 3 - 24px);
        }
    }
    
}
@media(max-width: 991px){
    .afisha{
        .slider-section-item2{
            width: calc(100% / 2 - 24px);
        }
    }
}
@media(max-width: 559px){
    .afisha{
        .slider-section-item2{
            width: calc(100% / 1 - 24px);
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

@media(max-width: 374px){
    .afisha{
        .slider-section-item2{
            width: calc(100% / 1 - 24px);
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.magazin__wrap__checkboxes .catalog-top__list{
    margin-top: 0;
}
.magazin__wrap__checkboxes .catalog-top__list li{
    font-size: 16px;
}

@media(max-width: 1024px){
    .magazin__wrap__checkboxes .catalog-top__list{
        margin-bottom: 20px;
    }
}