.catalog-top__wrap.catalog-top__wrap--blue{
    font-family: '2MASS', sans-serif;
    font-weight: bold;

    svg{
        fill: rgba(19,44,57,1);
        stroke: #132C39;
    }
}
.catalog-top__wrap.catalog-top__wrap--blue a:hover{
    svg{
        fill: rgba(19,44,57,1);
        stroke: #132C39;
    }
    g{
        opacity: 0.6;
    }
}
.catalog-top__wrap.catalog-top__wrap--blue a.active{
    border-bottom: 2px solid #306591;
    color: #306591;
    span{
        border-color: #306591
    }
    svg{
        stroke: #306591;
        fill: #306591;
    }
    path{
        opacity: 1;
    }
    g{
        opacity: 1;
    }
}

.catalog-top__wrap.catalog-top__wrap--blue2{
    font-family: '2MASS', sans-serif;

    svg{
        fill: #6C83C1;
    }
}
.catalog-top__wrap.catalog-top__wrap--blue2 a:hover{
    svg{
        fill: #6C83C1;
    }
    g{
        opacity: 0.6;
    }
}
.catalog-top__wrap.catalog-top__wrap--blue2 a.active{
    border-bottom: 2px solid #6C83C1;
    color: #6C83C1;
    span{
        border-color: #6C83C1
    }
    svg{
        fill: #6C83C1;
    }
    g{
        opacity: 1;
    }
}

.catalog-top__wrap.catalog-top__wrap-fiolet2{
    font-family: '2MASS', sans-serif;

    svg{
        fill: #9263A7;
    }
}
.catalog-top__wrap.catalog-top__wrap--fiolet2 a:hover{
    svg{
        fill: #9263A7;
    }
    g{
        opacity: 0.6;
    }
}
.catalog-top__wrap.catalog-top__wrap--fiolet2 a.active{
    border-bottom: 2px solid #9263A7;
    color: #9263A7;
    span{
        border-color: #9263A7;
    }
    svg{
        fill: #9263A7;
    }
    g{
        opacity: 1;
    }
}


.arenda__wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1px;
    border-top: 1px solid rgba(#000000, 0.1);
}
@media(max-width: 767px){
    .arenda__wrap{
        border-top: 0;
    }
}
.arenda__item{
    width: calc(100% / 3);
    padding-top: 38px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(#000000, 0.1);
}
@media(min-width: 1024px){
    .arenda__item:nth-child(3n + 2){
        border-left:  1px solid rgba(#000000, 0.1);
        border-right: 1px solid rgba(#000000, 0.1);
    }
}


.arenda__item__img{
    padding-bottom: 57%;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    margin-bottom: 15px;
    display: block;
    transition: 0.3s all;
}
.arenda__item__img:hover{
    box-shadow: 0 0 10px rgba(#000000, 0.5);
}
.arenda__item__wraper{
    padding-right: 31px;
    padding-left: 31px;
}
.arenda__item__name{
    display: block;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #132C39;
    color: #132C39;
    margin-bottom: 28px;
    display: inline-block;
}
.arenda__item__name:hover{
    border-bottom: 1px solid transparent;
}
.arenda__item__bot{
    display: flex;
    justify-content: space-between;
}
.arenda__price{
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    span{
        font-size: 12px;
    }
}

.arenda__btn{
    background-color: transparent;
    padding: 11px 35px;
    border: 1px solid #306591;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #306591;
    display: inline-block;
    transition: 0.3s all;
}
.arenda__btn:hover{
    box-shadow: 0 0 5px #306591;
}

@media(max-width: 1299px){
    .arenda__item__wraper{
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media(max-width: 1199px){
    .arenda__item__wraper{
        padding-right: 10px;
        padding-left: 10px;
    }
    .arenda__btn{
        padding: 8px 20px;
    }
    .arenda__price{
        font-size: 25px;
    }
    .arenda__item__name{
        font-size: 22px;
    }
}

@media(min-width: 700px) and (max-width: 1023px){
    .arenda__item:nth-child(2n + 1){
        border-right: 1px solid rgba(#000000, 0.1);
    }
}
@media(max-width: 1023px){
    .arenda__item{
        width: 50%;
    }
}
@media(max-width: 699px){
    .arenda__item{
        width: 100%;
    }
}
@media(max-width: 374px){
    .arenda__btn{
        padding: 7px 15px;
        font-size: 12px;
    }
    .arenda__item__wraper{
        padding-right: 0;
        padding-left: 0;
    }
    .arenda__item__name{
        font-size: 20px;
    }
}
.modal-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}
.modal-content-form{
    padding-top: 30px;
    padding-bottom: 20px;
    input{
        height: 44px;
        background: rgba(255,255,255,.3);
        border-radius: 6px;
        padding: 0 24px;
        margin-right: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #000;
        border: 1px solid rgba(#000000, 0.3);
        width: 100%;
        margin-bottom: 15px;
    }
    
    button{
        width: 100%;
    }
}
.modal__container.modal-mini{
    max-width: 320px;
}

.form-copy{
    opacity: 0.7;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.arenda .catalog-top{
    margin-bottom: 50px;
}

@media(max-width: 767px){
    .arenda .catalog-top{
        margin-bottom: 0px;
    }
}

.razvlechenia__top{
    display: flex;
    padding-top: 35px;
    border-top: 1px solid rgba(#000, 0.1);
    padding-bottom: 35px;
}
.razv__img{
    display: block;
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s all;
    img{
        width: 100%;
    }
}
.razv__img:hover{
    box-shadow:  0 0 10px rgba(#000, 0.3);
}
.razv__top__content{
    width: 50%;
    padding-left: 75px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.razv__top1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.razv__name{
    font-weight: bold;
    font-size: 24px;
    color: #132C39;
    border-bottom: 1px solid #132C39;
    transition: 0.3s all;
    margin-right: 25px;
}
.razv__name:hover{
    border-bottom: 1px solid transparent;
}
.razv__floo{
    font-size: 14px;
    line-height: 14px;
    color: #9CA1A2;
    margin-top: 10px;
}
.razv__text{
    font-size: 18px;
    line-height: 27px;
    color: #132C39;
    margin-bottom: 20px;
}
.razv__link{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16136;
    padding: 11px 35px;
    border: 1px solid #F16136;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s all;
}
.razv__link:hover{
    box-shadow: 0 0 5px #F16136;
}
.arenda__item__wraper{
    .magazin__item__name-block{
        flex: 1;
        a{
            font-weight: bold;
            font-size: 24px;
            border-bottom: 1px solid #132C39;
            color: #132C39;
            display: block;
            display: inline-block;
            margin-bottom: 9px;
        }
        a:hover{
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }
        span{
            display: block;
            font-size: 14px;
            line-height: 14px;
            color: #9CA1A2;
        }
    }
}


@media(max-width: 1199px){
    .razv__top__content{
        padding-left: 50px;
    }
}

@media(max-width: 1023px){
    .razv__top__content{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media(max-width: 767px){
    .razvlechenia__top{
        flex-direction: column;
        border-top: 0;
        padding-top: 0;
    }
    .razv__img{
        width: 100%;
        margin-bottom: 25px;
    }
    .razv__top__content{
        width: 100%;
    }
    .arenda__item{
        padding-right: 0;
        padding-left: 0;
    }
    .arenda__item:first-child{
        padding-top: 10px;
    }
}
@media(max-width: 559px){

    .arenda__item__img{
        margin-bottom: 30px;
    }

    .arenda__item__wraper .magazin__item__name-block a{
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        border-bottom: 0;
        margin-bottom: 15px;
    }
    .arenda__item{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .arenda__item:first-child{
        padding-top: 0;
    }
    
}
@media(max-width: 450px){
    .razv__top__content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .razv__img{
        margin-bottom: 15px;
    }
}