

@media(min-width: 1300px){
    .kak-dob{
        .catalog-top__wrap a{
            font-size: 36px;
            padding-right: 20px;
        }
    }
}

.kak-dob__wrap1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.kak-dob__wrap1:after{
    content: "";
    position: absolute;
    width: 61px;
    height: 89px;
    background-image: url(../img/decor/decor1.png);
    background-size: contain;
    bottom: 70px;
    right: -3%;
    transform: rotateY(-180deg) rotate(20deg);
    z-index: -1;
}
@media(max-width: 1399px){
    .kak-dob__wrap1:after{
        right: 0;
    }
}
.kak-dob__text{
    max-width: 825px;
    font-size: 18px;
    line-height: 27px;
    padding-right: 15px;
    color: #132C39;
}

@media(max-width: 991px){
    .kak-dob__wrap1{
        flex-direction: column-reverse;
        img{
            margin-bottom: 25px;
        }
    }
    .kak-dob__text{
        padding-right: 0;
    }
    .kak-dob__wrap1:after{
        display: none;
    }
    .kak-dob__text{
        font-size: 16px;
        line-height: 24px;
    }
}

.kak-dob__bot{
    display: flex;
}
.kak-dob__left{
    padding-right: 67px;
    border-right: 1px solid rgba(#000, 0.2);
    position: relative;
}
.kak-dob__left:after{
    content: "";
    position: absolute;
    width: 61px;
    height: 89px;
    background-image: url(../img/decor/decor1.png);
    background-size: contain;
    left: 20%;
    bottom: 10px;
    transform: rotateY(-180deg) rotate(20deg);
    z-index: -1;
}
.kak-dob__right{
    flex: 1;
    padding-left: 111px;
}

.kak-dob__row1{
    display: flex;
    align-items: flex-start;
}
.kak-dob__col{
    display: flex;
    align-items: flex-start;
    margin-bottom: 46px;
}
.kak-dob__col:first-child{
    margin-right: 120px;
}
.kak-dob__col span{
    width: 72px;
    flex: 0 0 72px;
    height: 72px;
    border: 1px solid #F9991B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 34px;
}
.kak-dob__col__title{
    font-size: 24px;
    line-height: 34px;
    color: #F9991B;
    font-family: '2MASS'; 
    margin-bottom: 8px;
}

.kak-dob__col__text{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gilroy';
    color: #9CA1A2;
}

.kak-dob__col__right{
    max-width: 195px;
}

.kak-dob__bot .contact__title{
    margin-bottom: 32px;
}

.kak-dob__row2{
    display: flex;
    align-items: center;
}
.kak-dob-time{
    border: 1px solid #F9991B;
    border-radius: 23px;
    padding: 25px 50px;
    font-size: 14px;
    line-height: 16px;
    color: #F9991B;
    font-family: 'Gilroy';
    margin-right: 46px;
}
.kak-dob-time__title{
    font-size: 24px;
    line-height: 34px;
    color: #132C39;
    font-family: '2MASS';
    margin-bottom: 5px;
}
.kak-dob-time__bot{
    margin-bottom: 5px;
}
.kak-dob__link{
    background: #F9991B;
    border-radius: 9px;
    padding: 16px 23px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 42px;
    transition: 0.3s all;
}
.kak-dob__link:hover{
    box-shadow: 0 0 5px #F9991B;
}
.kak-dob__bot{
    margin-bottom: 80px;
}

@media(max-width: 1299px){
    .kak-dob__right{
        padding-left: 50px;
    }
    .kak-dob__left{
        padding-right: 50px;
    }
}

@media(max-width: 1199px){
    .kak-dob__col:first-child{
        margin-right: 50px;
    }
}

@media(max-width: 1075px){
    .kak-dob__bot{
        flex-direction: column;
    }
    .kak-dob__right{
        padding-left: 0px;
    }
    .kak-dob__left{
        padding-right: 0px;
        margin-bottom: 50px;
    }
    .kak-dob__left:after{
        left: 50%;
    }
}

@media(max-width: 767px){
    .kak-dob__row2{
        flex-direction: column;
        align-items: flex-start;
    }
    .kak-dob__left{
        border-right: 0;
    }
    .kak-dob-time{
        margin-bottom: 25px;
    }
    .kak-dob__row1{
        flex-direction: column;
    }
    .kak-dob-time{
        margin-right: 0;
        text-align: center;
        max-width: 276px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .kak-dob-time-hour{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .kak-dob__link{
        max-width: 196px;
        margin: 0 auto;
        display: block;
        margin-top: 42px;
    }
    .kak-dob__col:first-child{
        margin-right: 0;
    }
    .kak-dob__left:after{
        display: none;
    }
    .kak-dob__bot{
        margin-bottom: 40px;
    }
    .kak-dob__bot .contact__title{
        font-size: 22px;
    }
    .kak-dob__link{
        text-align: center;
    }
}

@media(max-width: 424px){

}