.catalog-top{
    background: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 45px;
}

.catalog-top__wrap{
    border-bottom: 1px solid rgba(#000, 0.1);
    display: flex;
    overflow: auto;
}
.catalog-top__wrap a {
    min-width: max-content;
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(#132C39, 0.3);
    font-family: '2MASS';
    font-weight: 400;
    transition: 0.3s all;
}
.catalog-top__wrap a span{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(#132C39, 0.3);
    border-radius: 100%;
    margin-right: 20px;
    transition: 0.3s all;
    position: relative;
    .absolute{
        position: absolute;
        bottom: 0;
        right: -5px;
        path{
            fill: #000;
        }
    }
}
.catalog-top__wrap a svg{
    fill: rgba(#132C39, 0.3);
    transition: 0.3s all;
    max-width: 25px;
}

.catalog-top__wrap a:hover{
    color: rgba(#132C39, 0.5);
    span{
        border-color: rgba(#132C39, 0.5);
    }
    svg{
        fill: rgba(#132C39, 0.5);
    }
}
.catalog-top__wrap.catalog-top__wrap--fiolet a.active{
    border-bottom: 2px solid #B7587C;
    color: #B7587C;
    span{
        border-color: #B7587C;
    }
    svg{
        fill: #B7587C;
    }
}
svg.not-fill{
    fill: transparent!important;
}
svg.not-stroke{
    stroke: transparent!important;
}
.catalog-top__wrap a{
    border-bottom: 2px solid transparent;
}
.catalog-top__wrap.catalog-top__wrap--orang a.active{
    border-bottom: 2px solid #F9991B;
    color: #F9991B;
    span{
        border-color: #F9991B;
    }
    svg{
        fill: #F9991B;
        stroke: #F9991B;
    }
    g{
        opacity: 1;
    }
}
.fiolet-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B7587C;
    text-transform: uppercase;
    padding: 5px 0;
    svg{
        fill: #B7587C;
        margin-left: 5px;
        transition: 0.3s all;
    }
}
.orang-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F9991B;
    text-transform: uppercase;
    padding: 5px 0;
    svg{
        fill: #F9991B;
        margin-left: 5px;
        transition: 0.3s all;
        path{
            fill: #F9991B;
        }
    }
}
.color-link:hover{
    svg{
        transform: translateX(5px);
    }
}
.catalog-top__bot{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
@media(min-width: 1024px){
    .catalog-top__bot{
        padding-right: 82px;
    }
}

.catalog-top__list{
    margin-top: 40px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: rgba(#132C39, 0.2);
            margin-right: 30px;
            margin-bottom: 20px;
            transition: 0.3s all;
            text-transform: uppercase;
        }
        li:before{
            // content: "";
            // display: block;
            // width: 4px;
            // height: 4px;
            // background-color: transparent;
            // margin-right: 10px;
            // border-radius: 100%;
        }
        li.active{
            color: #132C39;
        }
        li:hover{
            color: rgba(#132C39, 0.5);
        }
        li.active:before{
            background-color:#132C39;
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            margin-right: 10px;
            border-radius: 100%;
        }
    }  
}
.catalog-top__list .t-category{
    margin-bottom: 20px;
}
.catalog-top__list .t-alfavit{
    margin-bottom: 20px;
}
.catalog-top__list .t-alfavit ul li{
    margin-right: 13px;
}
.t-search{
    margin-bottom: 23px;
}
.catalog-top__list{
    .t-alfavit{
        display: none;
    }
    .t-search{
        display: none;
    }
}
.tabs-alfavit{
    .t-category{
        display: none;
    }
    .t-alfavit{
        display: block;
    }
}
.tabs-search{
    .t-category{
        display: none;
    }
    .t-alfavit{
        display: none;
    }
    .t-search{
        display: block;
    }
}
@media(max-width: 991px){
    .section-name{
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    .catalog-top__wrap a{
        margin-right: 30px;
        font-weight: 400;
    }
    .catalog-top__list ul li{
        margin-right: 15px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .catalog-top__wrap a{
        font-size: 14px;
    }
    .catalog-top__wrap a span{
        width: 60px;
        height: 60px;
    }
    .catalog-top__list{
        margin-top: 30px;
    }
    .catalog-top__bot{
        margin-top: 15px;
    }
    .catalog-top{
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }
}
@media(max-width: 767px){
    .catalog-top__bot{
        justify-content: flex-start;
    }
}
@media(max-width: 559px){
    .catalog-top__wrap a{
        border-bottom: 0!important;
    }
    
    .catalog-top__wrap a span{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .catalog-top__wrap a span svg{
        max-width: 20px;
    }
}
.magazin__wrap__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.magazin__wrap__checkboxes{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.checkbox{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Gilroy';
    line-height: 16px;
    cursor: pointer;
    color: #132C39;
    margin-bottom: 20px;
    input{
        display: none;
    }
    input + span{
        border: 1px solid #132C39;
        width: 24px;
        min-width: 24px;
        height: 24px;
        display: block;
        
        margin-right: 18px;
    }
    input:checked + span{
        background-image: url('../img/checkbox.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.magazin__wrap__checkboxes .checkbox{
    margin-right: 50px;
    min-width: 165px;
}

.magazin__top__type{
    display: flex;
    button{
        margin-bottom: 20px;
        transition: 0.3s all;
        margin-left: 27px;
        display: flex;
        align-items: center;
        padding: 15px 22px;
        background-color: transparent;
        border: 1px solid #B7587C;
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #B7587C;
        svg{
            margin-left: 10px;
            min-width: 28px;
        }
        svg.active{
            display: none;
        }
    }
    button.active{
        background-color: #B7587C;
        color: #fff;
        svg.active{
            display: block;
        }
        svg.not-active{
            display: none;
        }
    }
    button:hover{
        box-shadow: 0 0 5px rgba(#000, 0.3);
    }
}
.magazin__top__type.orang-type{
    button{
        border: 1px solid #F9991B;
        color: #F9991B;
    }
    button.active{
        background-color: #F9991B;
        color: #fff;
    }
}
@media(max-width: 1024px){
    .magazin__wrap__top{
        flex-direction: column;
        align-items: flex-start;
    }
    .magazin__top__type button{
        margin-left: 0;
        max-width: 170px;
        width: 164px;
        height: 60px;
    }
    .magazin__top__type button:first-child{
        margin-right: 15px;
    }
    
    .magazin__top__type button{
        font-size: 14px;
        padding: 10px 15px;
        justify-content: space-between;
    }
}

@media(max-width: 374px){
    .magazin__top__type button{
        font-size: 12px;
        padding: 10px 10px;
        width: 50%;
        margin-right: 0;
        margin: 0 5px;
    }
    .magazin__top__type button:first-child{
        margin-right: 0;
    }
    .magazin__top__type{
        justify-content: space-between;
        width: 100%;
        margin: 0 -5px;
    }
}
@media(max-width: 767px){
    .magazin__wrap__checkboxes .checkbox{
        margin-right: 25px;
    }
    .checkbox input+span{
        margin-right: 15px;
    }
}
.magazin__list{
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    .magazin__item{
        border: 1px solid rgba(#000000, 0.2);
        border-radius: 22px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        max-width: 824px;
    }
    .magazin__item__img{
        width: 222px;
        height: 121px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-right: 52px;
    }
    .magazin__item__name-block{
        flex: 1;
        a{
            font-weight: bold;
            font-size: 18px;
            border-bottom: 1px solid #132C39;
            color: #132C39;
            display: block;
            margin-bottom: 7px;
            display: inline-block;
        }
        span{
            display: block;
            font-size: 14px;
            line-height: 14px;
            color: #9CA1A2;
        }
    }
}
@media(max-width: 767px){
    .magazin__list .color-link{
        display: none;
    }
    .magazin__list .magazin__item{
        padding-left: 15px;
        padding-right: 15px;
    }
    .magazin__list .magazin__item__img{
        flex: 0 0 35%;
        height: 60px;
        margin-right: 20px;
    }
    .magazin__list .magazin__item__name-block a{
        font-size: 24px;
        border-bottom: 1px solid #132c39;
        word-break: break-word;
    }
    .magazin__list.uslugi-list.magazin__list .magazin__item__name-block a{
        font-size: 20px;
        text-decoration: underline;
        border-bottom: 0;
    }
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(#000, 0.1);
    padding-top: 32px;
    margin-bottom: 50px;
    .swiper-count{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000;
        font-family: '2MASS', sans-serif;
        
        .now:after{
            display: none;
        }
        span{
            display: block;
            min-width: 46px;
            height: 1px;
            background-color: #000;
            margin: 0 5px;
            margin-top: 2px;
        }
        .max{
            font-size: 14px;
        }
    }
}

.magazin__wrap{
    padding-bottom:40px;
    position: relative;
}

@media(min-width: 768px){
    .magazin__wrap:before{
        content: "";
        position: absolute;
        width: 41px;
        height: 59px;
        background-image: url(../img/decor/decor1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 30px;
        left: 30%;
        transform: rotate(10deg);
        z-index: -1;
    }
    
    .magazin__wrap:after{
        content: "";
        position: absolute;
        width: 71px;
        height: 99px;
        background-image: url(../img/decor/decor1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 20px;
        right: 30%;
        transform: rotateY(-180deg) rotate(20deg);
        z-index: -1;
    }
}


@media(max-width: 767px){
    .magazin__wrap{
        padding-bottom: 0px;
    }
    .magazin__list{
        padding-bottom: 25px;
    }
}
.magazin__item{
    transition: 0.3s all;
}
.magazin__item:hover{
    box-shadow: 0 0 10px rgba(#000, 0.2);
}
.magazin__carts{
    display: flex;
    margin: 0 -9px;
    flex-wrap: wrap;
    padding-bottom: 35px;
    .magazin__item{
        width: calc(100% / 3 - 24px);
        margin: 0 12px;
        border: 1px solid rgba(#000000, 0.2);
        border-radius: 20px;
        padding: 30px 24px;
        padding-top: 55px;
        margin-bottom: 20px;
        transition: 0.3s all;
    }
    .magazin__item:hover{
        box-shadow: 0 0 10px rgba(#000, 0.2);
    }
    .magazin__item__img{
        padding-bottom: 52%;
        width: 100%;
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 43px;
    }

    .color-link {
        display: none;
    }

    .magazin__item__name-block{
        a{
            font-weight: bold;
            font-size: 18px;
            text-decoration-line: underline;
            color: #132C39;
            display: block;
            margin-bottom: 10px;
        }
        span{
            display: block;
            font-size: 14px;
            line-height: 14px;
            color: #9CA1A2;
        }
    }
}
.uslugi-list.magazin__list .magazin__item__img{
    background-size: auto 100%;
    border-radius: 10px;
    width: 210px;
}
@media(max-width: 767px){
    .magazin__carts {
        padding-bottom: 25px;
        .magazin__item{
            width: calc(100% / 2 - 24px);
            padding: 30px 20px;
        }
        
    }
}

@media(max-width: 550px){
    .magazin__carts {
        margin: 0 -10px;
        .magazin__item{
            width: calc(100% / 1 - 20px);
            padding:10px;
            margin-left: 10px;
            margin-right: 10px;
            background: transparent;
            .color-link{
                display: none;
            }
        }
        .magazin__item__img{
            padding-bottom: 45%;
            margin-bottom: 20px;
        }
    }
    

    .magazin__carts .magazin__item__name-block a{
        text-align: center;
        font-size: 24px;
        line-height: 24px;
    }
    .magazin__carts .magazin__item__name-block span{
        text-align: center;
    }
}
@media(max-width: 374px){
    .magazin__carts {
        margin: 0 -5px;
        .magazin__item{
            width: calc(100% / 1 - 10px);
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }
    .magazin__carts .magazin__item__name-block a{
        font-size: 18px;
        line-height:18px;
    }
}

